<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from rottenmangoes.com, <%= @user.firstname %></h1>
    <p>
      You have been removed from rottenmangoes.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To join  the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
